*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

.d-flex{
    display: flex;
}

.bar-top{
    width: 100vw;
    height: 60px;
    justify-content: end;
    padding: 5px;
    gap: 10px;
}

.speaker{
    width: 120px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: grey;
}
.maximize{
    width: 30px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: grey;
}

.container{
    width: 100vw;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

img{
    display: block;
}

.col-7{
    width: calc((100% / 12 ) * 7 );
    padding: 2px;
    margin: auto;
    position: relative;

}

.user{
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.74);
    position: absolute;
    bottom: 0;
    left: 0;
}

.bar-bottom{
    width: 100vw;
    height: 70px; 
    background-color: grey;
}

